PORT=3010
HOST=127.0.0.1
SITE_URL=https://echoarchives.net
STATIC_ROOT=..
SERVE_STATIC=true
TRUST_PROXY=loopback
DB_PATH=
BACKUP_DIR=./data/backups
OLLAMA_URL=http://127.0.0.1:11434/api/generate
OLLAMA_MODEL=mistral
REQUEST_TIMEOUT_MS=30000
CHAT_RATE_LIMIT_WINDOW_MS=600000
CHAT_RATE_LIMIT_MAX=40
CHAT_MESSAGE_MAX_LENGTH=2000
CHAT_HISTORY_ENTRY_MAX_LENGTH=2000
SUBMISSION_RATE_LIMIT_WINDOW_MS=3600000
SUBMISSION_RATE_LIMIT_MAX=3
HOME_CARD_HOVER_EXPAND_ENABLED=false
COMMUNITY_WRITE_WINDOW_MS=600000
COMMUNITY_WRITE_MAX=20
COMMUNITY_MIN_PUBLIC_RATINGS=3
COMMUNITY_ABUSE_RETENTION_DAYS=30
COMMUNITY_SUMMARY_MAX_IDS=100
COMMUNITY_RATING_WRITES_ENABLED=false
COMMUNITY_TURNSTILE_ENABLED=
COMMUNITY_TURNSTILE_SITE_KEY=
COMMUNITY_TURNSTILE_SECRET_KEY=
COMMUNITY_TURNSTILE_TIMEOUT_MS=5000
COMMUNITY_VOTER_HASH_SECRET=
MAINTAINER_LOGIN_WINDOW_MS=900000
MAINTAINER_LOGIN_MAX=5
MAINTAINER_REVIEW_PASSPHRASE=
MAINTAINER_REVIEW_COOKIE_SECRET=
MAINTAINER_REVIEW_SESSION_TTL_HOURS=12
PODCAST_INDEX_API_KEY=
PODCAST_INDEX_API_SECRET=
PODCAST_INDEX_USER_AGENT=TheEchoArchivesImport/1.0 (+https://echoarchives.net)
IMPORT_SUGGESTION_PROVIDER=
IMPORT_SUGGESTION_MODEL=
IMPORT_FETCH_TIMEOUT_MS=15000
IMPORT_DOCUMENT_MAX_BYTES=5242880
IMPORT_COVER_MAX_BYTES=8388608
IMPORT_WORKER_CONCURRENCY=4
IMPORT_HOST_CONCURRENCY=2
IMPORT_APPLE_REQUESTS_PER_MINUTE=15
IMPORT_AUTO_WORKER=true
IMPORT_AUTO_DISCOVERY=false
IMPORT_DISCOVERY_CONCURRENCY=2
