[Unit]
Description=Run encrypted Raspberry Pi backup for The Echo Archives

[Timer]
OnCalendar=*-*-* 04:00:00
Persistent=true
RandomizedDelaySec=10m
Unit=echo-archives-offsite-backup.service

[Install]
WantedBy=timers.target
